/* ---Main styles start--- */
body {
    font-size: 12px;
    line-height: 21px;
    font-family: "Lato", "Arial", sans-serif;
}
  
h1 {
    font-size: 30px;
    line-height: 30px;
    font-family: "Maven Pro", "Tahoma", sans-serif;
}
  
h2 {
    font-size: 18px;
    line-height: 21px;
    font-family: "Maven Pro", "Tahoma", sans-serif;
}
  
.main-wrapper {
    width: 1020px;
    margin: auto;
}
/* ---Main styles end--- */

/* ---Header Start--- */
header {
    position: relative;
    background-color: #323230;
    color: #ffffff;
  }
  
header::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 420px;
    content: "";
    width: 180px;
    height: 89px;
    background: url("../assets/triangle.png");
}
  
header nav {
    margin: auto;
    text-align: center;
    line-height: 12px;
}
  
header ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
nav li {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    padding-top: 26px;
    padding-bottom: 25px;
}
  
nav li:nth-child(2) {
    margin-right: 140px;
}
  
  nav li:last-child {
    margin-right: 0;
}
  
nav a {
    font-size: 10px;
    font-family: "Lato";
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
  
nav .selected {
    color: #2eb398;
}
  
nav a:hover {
    color: #2eb398;
}
  
nav a:active {
    opacity: 0.6;
}
  
nav::before {
    position: absolute;
    top: 74px;
    left: 30px;
    content: "";
    width: 410px;
    height: 1px;
    background-color: #ededed;
}
  
nav::after {
    position: absolute;
    top: 74px;
    right: 30px;
    content: "";
    width: 410px;
    height: 1px;
    background-color: #ededed;
}
  
.logo {
    position: absolute;
    top: 11px;
    left: 478px;
}
  
.logo img {
    display: block;
}
/* ---Header End--- */

/* ---Slider Start--- */
.hexagons {
    position: relative;
    padding-top: 142px;
}
  
.hexagons::after {
    position: absolute;
    left: 30px;
    bottom: 11px;
    content: "";
    width: 960px;
    height: 1px;
    background-color: #ededed;
}
  
.slider input {
    display: none;
}
  
.slide-one, .slide-two, .slide-three {
    display: none;
}
  
#s-one:checked ~ .slide-one {
    display: block;
}
  
#s-two:checked ~ .slide-two {
    display: block;
}

#s-three:checked ~ .slide-three {
    display: block;
}
  
.row-short {
    position: relative;
    margin-left: 100px;
}
  
.row-short::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 104px;
    background-color: #ededed;
}
  
.row-short::after {
    position: absolute;
    right: 100px;
    content: "";
    width: 1px;
    height: 104px;
    background-color: #ededed;
}
  
.slider {
    margin-bottom: 60px;
}
  
.hexagon {
    display: inline-block;
    vertical-align: top;
    margin-top: -52px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 208px;
    overflow: hidden;
    animation: rotate 0.5s ease-in;
}

.hexagon:hover {
    transform: rotate(-360deg);
    transition: transform 0.5s ease-in;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
  
.hex-one, .hex-two {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
  
.hex-img-1::before,
.hex-img-2::before,
.hex-img-3::before,
.hex-img-4::before,
.hex-img-5::before,
.hex-img-6::before,
.hex-img-7::before,
.hex-img-8::before,
.hex-img-9::before,
.hex-img-10::before,
.hex-img-11::before,
.hex-img-12::before,
.hex-img-13::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 206px;
    background-color: #bfbfbf;
    transform: rotate(120deg);
    filter: sepia(0%)
}
/* slider-one images */
/*slider-one*/
.slide-one .hex-img-1::before {
    background: url("../assets/img1.png");
}
  
.slide-one .hex-img-2::before {
    background: url("../assets/img2.png");
}
  
.slide-one .hex-img-3::before {
    background: url("../assets/img3.png");
}
  
.slide-one .hex-img-4::before {
    background: url("../assets/img4.png");
}
  
.slide-one .hex-img-5::before {
    background: url("../assets/img5.png");
}
  
 .slide-one .hex-img-6::before {
    background: url("../assets/img6.png");
 }
 
 .slide-one .hex-img-7::before {
    background: url("../assets/img7.png");
 }
 
 .slide-one .hex-img-8::before {
    background: url("../assets/img8.png");
 }
 
 .slide-one .hex-img-9::before {
    background: url("../assets/img9.png");
 }
 
 .slide-one .hex-img-10::before {
    background: url("../assets/img10.png");
 }
 
 .slide-one .hex-img-11::before {
    background: url("../assets/img11.png");
 }
 
 .slide-one .hex-img-12::before {
    background: url("../assets/img12.png");
 }
 
 .slide-one .hex-img-13::before {
    background: url("../assets/img13.png");
 }
 /*slider-two*/
 .slide-two .hex-img-1::before {
    background: url("../assets/marvel.jpg") -64px -203px;
 }
 
 .slide-two .hex-img-2::before {
    background: url("../assets/marvel.jpg") -130px -65px;
 }
 
 .slide-two .hex-img-3::before {
    background: url("../assets/marvel.jpg") -442px -50px;
 }
 
 .slide-two .hex-img-4::before {
    background: url("../assets/marvel.jpg") -780px -50px;
 }
 
 .slide-two .hex-img-5::before {
    background: url("../assets/marvel.jpg") -13px -320px;
 }
 
 .slide-two .hex-img-6::before {
    background: url("../assets/marvel.jpg") -257px -383px;
 }
 
 .slide-two .hex-img-7::before {
    background: url("../assets/marvel.jpg") -521px -320px;
 }
 
 .slide-two .hex-img-8::before {
    background: url("../assets/marvel.jpg") -853px -260px;
 }
 
 .slide-two .hex-img-9::before {
    background: url("../assets/marvel.jpg") -1032px -292px;
 }
 
 .slide-two .hex-img-10::before {
    background: url("../assets/marvel.jpg") -635px -352px;
 }
  
.slide-two .hex-img-11::before {
    background: url("../assets/marvel.jpg") -850px -320px;
}
  
.slide-two .hex-img-12::before {
    background: url("../assets/marvel.jpg") -776px -457px;
}
  
.slide-two .hex-img-13::before {
    background: url("../assets/marvel.jpg") -982px -84px;
}
/*slider-three*/
.slide-three .hex-img-1::before {
    background: url("../assets/mult.jpg") -59px -385px;
 }
 
 .slide-three .hex-img-2::before {
    background: url("../assets/mult.jpg") -1000px -635px;
 }
 
 .slide-three .hex-img-3::before {
    background: url("../assets/mult.jpg") -228px -663px;
 }
 
 .slide-three .hex-img-4::before {
    background: url("../assets/mult.jpg") -1616px -61px;
 }
 
 .slide-three .hex-img-5::before {
    background: url("../assets/mult.jpg") -700px -398px;
 }
 
 .slide-three .hex-img-6::before {
    background: url("../assets/mult.jpg") -639px -198px;
 }
 
 .slide-three .hex-img-7::before {
    background: url("../assets/mult.jpg") -892px -248px;
 }
 
 .slide-three .hex-img-8::before {
    background: url("../assets/mult.jpg") -1075px -120px;
 }
 
 .slide-three .hex-img-9::before {
    background: url("../assets/mult.jpg") -1013px -396px;
 }
 
 .slide-three .hex-img-10::before {
    background: url("../assets/mult.jpg") -44px -518px;
 }
  
.slide-three .hex-img-11::before {
    background: url("../assets/mult.jpg") -423px -610px;
}
  
.slide-three .hex-img-12::before {
    background: url("../assets/mult.jpg") -959px -464px;
}
  
.slide-three .hex-img-13::before {
    background: url("../assets/mult.jpg") -1259px -602px;
}
/* slider-two images*/

.hex-img-1:hover::before,
.hex-img-2:hover::before,
.hex-img-3:hover::before,
.hex-img-4:hover::before,
.hex-img-5:hover::before,
.hex-img-6:hover::before,
.hex-img-7:hover::before,
.hex-img-8:hover::before,
.hex-img-9:hover::before,
.hex-img-10:hover::before,
.hex-img-11:hover::before,
.hex-img-12:hover::before,
.hex-img-13:hover::before {
    filter: sepia(50%);
    transition: ease-in 0.5s;
}
  
.slide-select {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 23px;
    line-height: 6px;
}
  
.slide-select label {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    width: 7px;
    height: 7px;
    background-color: #ddd2c5;
}
  
.slide-select .active {
    background-color: #8b8784;
}
  
.slide-select label:hover {
    background-color: #8b8784;
}
  
.slide-select label:active {
    opacity: 0.6;
}
  
.slide-select label:last-child {
    margin-right: 0;
}
/* ---Slider End--- */

/* ---About Start--- */
.about {
    padding-top: 13px;
    padding-bottom: 12px;
    background-color: #2eb398;
}
  
.about-wrapper {
    margin: auto;
    padding-top: 55px;
    width: 822px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}
  
.about .hexagon-ava {
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.hexagon-ava {
    display: inline-block;
    vertical-align: top;
    margin-top: -52px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 180px;
    height: 208px;
    overflow: hidden;
}


.hexagon-ava img {
    transform: rotate(120deg);
}

.hex-ava::before {
    position: absolute;
    content: "";
    width: 180px;
    height: 206px;
    background-color: #bfbfbf;
    transform: rotate(120deg);
    filter: sepia(50%);
}
  
.about .hex-ava::before {  /* effect if <img> not loaded */
    filter: sepia(0);
}
  
.about .hex-ava:hover::before {  /* effect if <img> not loaded */
    transition: 0s;
}
  
.description {
    display: inline-block;
    vertical-align: top;
    width: 580px;
}
  
.description h1, .description h2 {
    margin: 0;
}
  
.description p {
    margin-bottom: 37px;
    text-align: justify;
}
  
.socialbox {
    text-align: right;
    margin: 0;
    margin-bottom: 67px;
    padding: 0;
    list-style-type: none;
}
  
.socialbox li {
    margin-right: -3px;
    display: inline-block;
    vertical-align: top;

    
}
  
.socialbox a:hover {
    opacity: 0.6;
}
  
.socialbox a:active {
    opacity: 0.3;
}
  
.social-icon {
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
}
  
.fb {
    background: url("../assets/socials.png") 0px 0px;
}
  
.tw {
    background: url("../assets/socials.png") -25px 0px;
}
  
.gg {
    background: url("../assets/socials.png") -49px 0px;
}
  
.pi {
    background: url("../assets/socials.png") -74px 0px;
}
  
.li {
    background: url("../assets/socials.png") -99px 0px;
}
  
.dr {
    background: url("../assets/socials.png") -123px 0px;
}
/* ---About End--- */

/* ---Footer Start--- */
footer {
    padding-top: 13px;
    background-color: #323230;
    color: #e0e0e0;
}
  
.footer-wrapper {
    margin: auto;
    margin-bottom: 11px;
    padding-top: 53px;
    padding-left: 90px;
    padding-bottom: 53px;
    padding-right: 90px;
    width: 960px;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    box-sizing: border-box;
}
  
.footer-wrapper h1 {
    margin: 0;
    line-height: 36px;
}
  
.footer-wrapper h2 {
    margin: 0;
    margin-bottom: 20px;
}
  
form {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
  
form input {
    display: block;
    margin-bottom: 16px;
    padding: 14px;
    width: 584px;
    height: 38px;
    font-family: inherit;
    color: #e0e0e0;
    background-color: #454545;
    border: none;
    box-sizing: border-box;
}
  
textarea {
    margin-bottom: 16px;
    width: 584px;
    height: 150px;
    padding: 14px;
    font-family: inherit;
    color: #e0e0e0;
    background-color: #454545;
    border: none;
    box-sizing: border-box;
}
  
form input:hover, form textarea:hover {
    background-color: #45454f;
}
  
form button {
    float: right;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 30px;
    font-family: "Lato";
    font-weight: 700;
    line-height: 12px;
    color: #d7fcf5;
    background-color: #2eb398;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}
  
form button:hover {
    color: #031314;
    background-color: #20bfcf;
    cursor: pointer;
}
  
form button:active {
    opacity: 0.6;
}
  
.contacts {
    display: inline-block;
    vertical-align: top;
    width: 176px;
}
  
.contacts p {
    margin: 0;
    margin-bottom: 44px;
    text-align: justify;
}
  
.contacts a {
    position: relative;
    display: block;
    padding-left: 25px;
    color: #e0e0e0;
    text-decoration: none;
}
  
.contacts a:hover {
    color: #2eb398;
}
  
.contacts a:active {
    opacity: 0.6;
  }
  
.contacts .address::before {
    position: absolute;
    top: 5px;
    left: 3px;
    content: "";
    width: 7px;
    height: 11px;
    background: url("../assets/location.png");
}
  
.contacts .phone::before {
    position: absolute;
    top: 5px;
    left: 1px;
    content: "";
    width: 11px;
    height: 11px;
    background: url("../assets/phone.png");
}
  
.contacts .e-mail::before {
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    width: 13px;
    height: 8px;
    background: url("../assets/mail.png");
}
  
.copyrights {
    padding-top: 11px;
    padding-left: 40px;
    padding-bottom: 11px;
    background-color: #222222;
    color: #3e3e3e;
}
  
.copyrights a {
    color: #3e3e3e;
    text-decoration: none;
}
  
.copyrights a:hover {
    color: #2eb398;
}
  
.copyrights a:active {
    opacity: 0.6;
}
/* ---Footer End--- */